@media screen and (max-width: 1280px) {
  .nav-buttons .create {
    display: none;
  }
  .nav-buttons .templates {
    display: none;
  }

  .nav-buttons .more {
    display: flex;
  }
  .nav-buttons .add-btn {
    display: flex !important;
  }
}

@media screen and (max-width: 1160px) {
  .nav-buttons .starred {
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  .nav-buttons .recent {
    display: none;
  }
}

@media screen and (max-width: 1090px) {
  .main-nav {
    flex-direction: column;
    height: fit-content;
  }
  .left-main-nav {
    width: 100%;
  }
  .right-main-nav {
    width: 100%;
    justify-content: flex-end;
  }
  .main-content {
    top: 100px;
  }
}

@media screen and (max-width: 900px) {
  .nav-buttons .workspaces {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .right-main-nav {
    justify-content: flex-start;
  }
  .nav-item.customize {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .input-container {
    display: none;
  }
  .search-btn {
    display: flex;
  }
}

@media screen and (max-width: 695px) {
  .main-content {
    top: 130px;
  }
}

@media screen and (max-width: 620px) {
  .left-main-nav h1 {
    margin-bottom: 5px;
  }
  .main-content {
    top: 180px;
  }
}

@media screen and (max-width: 500px) {
  .notif-btn {
    display: none;
  }
  .info-btn {
    display: none;
  }
}

@media screen and (max-width: 455px) {
  .main-content {
    top: 300px;
  }
}
@media screen and (max-width: 425px) {
  .main-content {
    top: 350px;
  }
  .right-main-nav .accounts {
    margin-bottom: 10px;
  }
}
