:root {
  --white: #fff;
  --darkGreen: #49852e;
  --mediumGreen: #519839;
  --softGreen: #82cd47;
  --lightGreen: rgba(255, 255, 255, 0.026);
  --border: rgba(255, 255, 255, 0.475);
  --black: rgba(0, 0, 0, 0.167);
  --veryDarkGreen: #2b6012;
  --lightBlue: rgb(21, 126, 239);
  --darkGray: rgba(255, 255, 255, 0.2);
  --cardButton: #0c66e4;
  --cardButtonHover: #0954bc;
}

/* utility classes */

.hover:hover {
  background-color: var(--black);
  cursor: pointer;
}

.block {
  display: block;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex-between {
  justify-content: space-between;
}
.filter {
  filter: invert(100%);
}

/* end of utility classes */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--mediumGreen);
}

.hero {
  display: flex;
  flex-direction: row;
  height: 100%;
}
