:root {
  --white: #fff;
  --darkGreen: #49852e;
  --mediumGreen: #519839;
  --softGreen: #82cd47;
  --lightGreen: rgba(255, 255, 255, 0.026);
  --border: rgba(222, 222, 222, 0.475);
  --black: rgba(0, 0, 0, 0.167);
  --veryDarkGreen: #2b6012;
  --lightBlue: rgb(21, 126, 239);
  --darkGray: rgba(255, 255, 255, 0.2);
  --cardButton: #0c66e4;
  --cardButtonHover: #0954bc;
  --board: #dfe1e6;
}

/* utility classes */

.hover:hover {
  background-color: var(--black);
  cursor: pointer;
}

.block {
  display: block;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex-between {
  justify-content: space-between;
}
.filter {
  filter: invert(100%);
}

/* end of utility classes */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
button {
  background: none;
  border: none;
}

.hero {
  display: flex;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--mediumGreen);
}

.main-content {
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  top: 55px;
  padding: 12px 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.icon-content {
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 3px;
  color: var(--white);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #484848cc;
  transition: 0.3s ease-out;
  transition-delay: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.show-content {
  position: relative;
}

.show-content:hover .icon-content {
  visibility: visible;
  opacity: 1;
  top: 150%;
}

.icon-content .text {
  font-size: 12px;
}

.icon-content .key {
  width: 20px;
  height: 20px;
  background-color: var(--board);
  color: #000;
  font-weight: 300;
  font-size: 12px;
}

::-webkit-scrollbar,
.scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb,
.scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover,
.scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track,
.scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-track:hover,
.scrollbar-track:hover {
  background: #e0e0e0;
}

::-webkit-scrollbar-corner,
.scrollbar-corner {
  background: transparent;
}
